@model RuwanaAcademy_Enterprise.Common.BaseViewModel<RuwanaAcademy_Enterprise.Areas.Class.Models.ClassVM>

@{
    ViewBag.Title = "Class Information";
    var grid = Model.GetGrid();
}

@{
    var srchOpts = new List<SelectListItem>();
    srchOpts.Add(new SelectListItem { Text = "Class Code", Value = "ClassCode" });
   
}
<hr style="border-color:black" />
<br />
<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", style = "min-width:75px" })
</p>
<br />
@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    <div class="form-horizontal row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Search By", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("FilterBy", new SelectList(srchOpts, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" name="Search" class="btn btn-default" />
        </div>
    </div>
    <hr style="border-color:black" />

    <div id="content">
        @grid.GetHtml(
        tableStyle: "mGrid no-foot",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
            grid.Column(null, null, format: (item) => Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-open' style='color:black'></span>", "View Details", "Details", routeValues: new { id = item.ClassID }, htmlAttributes: new { @class = "btn btn-success btn-xs" }), style: "btn-1"),
            grid.SortColumn(columnName: "ClassCode", header: "Class Code"),
            grid.SortColumn(columnName: "Description", header: "Description"),
            grid.SortColumn(columnName: "ClassCategory", header: "Class Category", format: (item) => ((RuwanaAcademy_Enterprise.Common.ClassCategory)item.Category).ToEnumChar()),
            grid.SortColumn(columnName: "ClassType", header: "Class Type", format: (item) => ((RuwanaAcademy_Enterprise.Common.ClassType)item.Type).ToEnumChar()),
            grid.SortColumn(columnName: "DateOfConduct", header: "Date Of Conduct", format: (item) => ((RuwanaAcademy_Enterprise.Common.DateOfConduct)item.DateOfConduct).ToEnumChar()),
            grid.SortColumn(columnName: "StartTime", header: "Start Time"),
            grid.SortColumn(columnName: "EndTime", header: "End Time")
            ))

        <hr style="border-color:black" />

        <div id="content-footer">
            @grid.PagerList(WebGridPagerModes.All, Model.PageSize, Model.TotalRecords)
        </div>
    </div>
}
