@model RuwanaAcademy_Enterprise.Areas.Lecturer.Models.LecturePaymentVM

@{
    ViewBag.Title = "Edit Lecturer Payment";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr style="border-color:black" />
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LecPaymentID)
        @Html.HiddenFor(model => model.LecturerID)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentReceiptNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumEditorFor(model => model.PaymentReceiptNo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentReceiptNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LecturerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PopUpSelectorFor(model => model.LecturerID, "Base", "Data", "GetLecturer", new { @class = "form-control", @readonly = "readonly" }, "Please select a Lecturer.", dspFormat: "{1}", hiddenIndices: "0,5")
                @Html.ValidationMessageFor(model => model.LecturerID, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div>
            <p>
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary col-md-1 col-md-offset-10" style="min-width:75px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </div>
}
<div id="ChildContent">
    @{ Html.RenderAction("ChildIndex", new { id = Model.LecPaymentID, isToEdit = true }); }
</div>


<br />

<div>
    @Html.ActionLink("Back to Index Page", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lecturerreg/lecturer")
}


