
@model RuwanaAcademy_Enterprise.Areas.Hall.Models.HallAllocationVM

@{
    ViewBag.Title = "Hall Allocation Details";
}

<div>

    <hr style="border-color:black" />
    <br />

    @using (Html.BeginForm("Delete", "HallAllocationReg"))
    {
        @Html.HiddenFor(model => model.HallAllocationID)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.HallAllocationID }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm user deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
            </div>
        </p>
    }

    <br />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.HallID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HallName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.HallName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ClassCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScheduleDate, new { htmlAttributes = new { @class = "form-control", type = "JQ-Date", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ScheduleDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

</div>
<br />
<div>
    @Html.ActionLink("Back to Index Page", "Index")
</div>
