@model RuwanaAcademy_Enterprise.Common.BaseViewModel<RuwanaAcademy_Enterprise.Areas.Student.Models.StudentVM>

@{
    ViewBag.Title = "Student Information";
    var grid = Model.GetGrid();
}

@{
    var srchOpts = new List<SelectListItem>();
    srchOpts.Add(new SelectListItem { Text = "RFID No", Value = "RFID" });
    srchOpts.Add(new SelectListItem { Text = "Name", Value = "FullName" });
}
    <hr style="border-color:black" />
<br />
<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", style = "min-width:75px" })
</p>
<br />
@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    <div class="form-horizontal row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Search By", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("FilterBy", new SelectList(srchOpts, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" name="Search" class="btn btn-default" />
        </div>
    </div>
    <hr style="border-color:black" />

    <div id="content">
        @grid.GetHtml(
        tableStyle: "mGrid no-foot",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
            grid.Column(null, null, format: (item) => Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-open' style='color:black'></span>", "View Details", "Details", routeValues: new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-success btn-xs" }), style: "btn-1"),
            grid.SortColumn(columnName: "RFID", header: "RFID No"),
            grid.SortColumn(columnName: "FullName", header: "Student Name"),
            grid.SortColumn(columnName: "Gender", header: "Gender", format: (item) => ((RuwanaAcademy_Enterprise.Common.Gender)item.Gender).ToEnumChar()),
            grid.SortColumn(columnName: "ContactNo", header: "Contact No"),
            grid.SortColumn(columnName: "Address", header: "Address"),
            grid.SortColumn(columnName: "StudCategory", header: "Student Category", format: (item) => ((RuwanaAcademy_Enterprise.Common.StuCategory)item.StudCategory).ToEnumChar())
            ))

        <hr style="border-color:black" />

        <div id="content-footer">
            @grid.PagerList(WebGridPagerModes.All, Model.PageSize, Model.TotalRecords)
        </div>
    </div>
}
